<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.xgfjyw.libnettools">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <receiver android:name="com.github.xgfjyw.libnettools.NetworkStatusNotificationReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
